a2wsgi==1.10.7
adal==1.2.7
adbc_driver_manager==1.2.0
adbc_driver_postgresql==1.2.0
adbc_driver_sqlite==1.2.0
ads==0.12.6
aerospike_vector_search==2.0.0
aesara==2.9.4
ain==0.0.2
aiodns==3.2.0
airbyte_cdk==5.7.5
aleph_alpha_client==7.3.0
alibabacloud_ha3engine_vector==1.1.8
alibabacloud_tea_util==0.3.13
anywidget==0.9.13
apify_client==1.8.1
AppKit==0.2.8
arango==0.2.1
arcgis==2.3.1
argilla==2.2.2
arize==7.21.0
arthurai==3.32.3
astrapy==1.5.0
atheris==2.3.0
atlassian==0.0.0
azureml==0.2.7
baidubce==0.8.3
banana_dev==6.3.0
BeautifulSoup==3.2.2
bibtexparser==1.4.1
bigdl==2.4.0
bilibili_api==9.1.0
bokeh==3.6.0
boto3==1.34.133
botocore==1.34.133
Brotli==1.1.0
brotlicffi==1.1.0.0
ca_certs_locater==1.0
cached_property==1.5.2
capturer==3.0
cassio==0.1.9
cchardet==2.1.7
chardet==5.2.0
chroma_hnswlib==0.7.3
clarifai_grpc==10.5.4
clickhouse_connect==0.8.0
cloudpathlib==0.19.0
cloudpickle==3.0.0
clr==1.0.3
cog==0.9.24
comet_llm==2.2.7
ConfigParser==7.1.0
confluent_kafka==2.5.3
contextlib2==21.6.0
controlnet_aux==0.0.9
cppyy==3.1.2
cryptography==43.0.1
ctypes_snappy==1.03
cudf==0.6.1.post1
curio==1.6
cx_Oracle==8.3.0
cycler==0.11.0
Cython==3.0.2
dask_expr==1.1.15
datadog_api_client==2.28.0
deepeval==1.3.2
defusedxml==0.7.1
dgml_utils==0.3.4
diffusers==0.30.3
dingodb==0.0.16
disco==1.40.4
dl==0.1.0
doctran==0.0.14
docutils==0.21.2
docx2txt==0.8
dria==0.1.20
dynamodb_encryption_sdk==3.3.0
e2b==0.17.1
elevenlabs==1.9.0
email_validator==2.2.0
esprima==4.0.1
eval_type_backport==0.2.0
evaluate==0.4.3
exceptiongroup==1.2.2
extract_msg==0.49.0
fake_useragent==1.5.1
fastai==2.7.17
fastapi_cli==0.0.5
faster_whisper==1.0.3
fastparquet==2024.5.0
feedparser==6.0.11
firebase_admin==6.5.0
flashrank==0.2.9
flint==0.0.1
flytekit==1.13.5
fonttools==4.42.1
Foundation==0.1.0a0.dev1
fqdn==1.5.1
freezegun==1.5.1
geopandas==1.0.1
gitdb_speedups==0.1.0
gliner==0.2.13
gmpy2==2.2.1
google_auth_oauthlib==1.0.0
googlemaps==4.10.0
gptcache==0.1.43
gpudb==7.2.1.0
gql==3.5.0
gradientai==1.13.1
gradio==4.44.0
grandalf==0.8
grpc_reflection==1.0.0
grpcio_tools==1.62.3
gspread==6.1.2
guardrails==2.0.0
gunicorn==23.0.0
h2==4.1.0
h5py==3.9.0
hdbcli==2.22.27
hf_transfer==0.1.8
hologres_vector==0.0.10
html5lib==1.1
HTMLParser==0.0.2
httpx_sse==0.4.0
hypothesis==6.112.1
ibis==3.3.0
ibm_watsonx_ai==1.1.11
infinity_emb==0.0.58
InquirerPy==0.3.4
InstructorEmbedding==1.0.1
intel_extension_for_transformers==1.4.2
ipython==8.12.3
ipywidgets==8.1.5
isal==1.7.1
isoduration==20.11.0
itsdangerous==2.1.2
jaguardb_http_client==3.4.2.3
javelin_sdk==0.2.5
jnius==1.1.0
joblib==1.3.2
JPype1==1.5.0
jq==1.8.0
kdbai_client==1.3.0
kerchunk==0.2.6
keybert==0.8.5
keyring==25.4.1
kubernetes_validate==1.31.0
label_studio_sdk==1.0.5
langchain_anthropic==0.2.1
langchain_astradb==0.5.0
langchain_aws==0.2.1
langchain_chroma==0.1.4
langchain_cohere==0.3.0
langchain_elasticsearch==0.3.0
langchain_experimental==0.3.2
langchain_fireworks==0.2.0
langchain_google_vertexai==2.0.1
langchain_groq==0.2.0
langchain_huggingface==0.1.0
langchain_mistralai==0.2.0
langchain_mongodb==0.2.0
langchain_ollama==0.2.0
langchain_openai==0.2.1
langchain_pinecone==0.2.0
langchain_postgres==0.0.12
langchain_qdrant==0.1.4
langchain_together==0.2.0
langchainhub==0.1.21
laser_encoders==0.0.2
librosa==0.10.1
listparser==0.20
llmlingua==0.2.2
llmonitor==0.0.51
lorax==0.94.86
lxml_html_clean==0.2.2
lz4==4.3.3
lzmaffi==0.3.0
manticoresearch==4.0.0
matchpy==0.5.5
matplotlib==3.7.1
mediawikiapi==1.2
memory_profiler==0.61.0
metal_sdk==2.5.1
minijinja==2.2.0
mlx_lm==0.18.2
modelscope==1.18.1
modin==0.32.0
motor==3.6.0
mpi4py==4.0.0
msal==1.31.0
mtrand==0.1
multiset==3.2.0
mwparserfromhell==0.6.6
mwxml==0.3.4
nest_asyncio==1.6.0
networkx==3.1
neural_compressor==3.0.2
newspaper==0.1.0.7
nlu==5.4.1
nomic==3.1.2
nucliadb_models==5.1.2.post1644
nucliadb_protos==5.1.2.post1644
numarray==1.5.1
Numeric==24.2
numexpr==2.10.1
nvtx==0.2.10
O365==2.0.36
oauth2client==4.1.3
objgraph==3.6.1
obs==0.0.0
oci==2.135.0
odfpy==1.4.1
odps==3.5.1
olefile==0.47
onnx==1.16.1
onnx_graphsurgeon==0.5.2
onnxruntime_extensions==0.12.0
openapi_pydantic==0.4.1
opencv_python==4.8.0.76
openpyxl==3.1.5
optimum==1.22.0
outcome==1.3.0.post0
paramiko==3.5.0
pdf2image==1.17.0
pdfminer==20191125
pdfplumber==0.11.4
pickle5==0.0.12
pinecone_text==0.9.0
pkgutil_resolve_name==1.3.10
plotly==5.18.0
polars==1.8.2
polygraphy==0.49.9
praw==7.7.1
promptlayer==1.0.21
psutil==5.9.5
psychicapi==0.8.4
py==1.11.0
py3nvml==0.2.7
pyairtable==2.3.3
pycares==4.4.0
pycosat==0.6.6
pycryptodome==3.20.0
pycurl==7.45.3
pydub==0.25.1
pydy==0.7.1
pyepsilla==0.3.9
pygit2==1.15.1
pyglet==2.0.17
pygraphviz==1.13
PyInstaller==6.10.0
pymc==5.16.2
pymc3==3.11.6
pymilvus==2.4.7
pymongo==4.9.1
pymupdf_fonts==1.0.5
pyodide==0.0.2
pyOpenSSL==24.2.1
pyowm==3.3.0
pypdf==5.0.0
pypdfium2==4.30.0
pyperf==2.7.0
pyppeteer==2.0.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.7.1
pysat==3.2.0
PySide6==6.7.3
pyspark==3.5.3
pysqlcipher3==1.2.0
pysrt==1.1.2
pytesseract==0.3.10
python-decouple==3.8
python_calamine==0.2.3
python_socks==2.5.2
pyTigerGraph==1.7.1
pytube==15.0.0
pyu2f==0.1.5
pywin32==306
pyxlsb==1.0.10
qcloud_cos==3.3.6
qdrant_client==1.11.3
qianfan==0.4.9
qtpy==2.4.1
railroad==0.5.0
rank_bm25==0.2.2
rank_llm==0.20.2
rapidfuzz==3.10.0
rapidocr_onnxruntime==1.3.24
rdflib==7.0.0
reportlab==4.2.2
requests_kerberos==0.15.0
requests_toolbelt==1.0.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rizaio==0.1.0a9
rockset==2.1.2
rspace_client==2.5.0
runhouse==0.0.35
s3fs==2024.9.0
safetensors==0.4.5
sage==0.0.0
scipy==1.14.1
scrapingant_client==2.1.0
selenium==4.25.0
semantic_version==2.10.0
sentry_sdk==2.14.0
setuptools_scm==8.1.0
simplejson==3.19.3
simsimd==5.4.3
slack_sdk==3.33.1
smbprotocol==1.14.0
socksio==1.0.0
sodapy==2.2.0
speechkit==2.2.2
speedups==1.4.0
sqlcipher3==0.5.3
sqlite_vss==0.1.2
sseclient==0.0.27
stackapi==0.3.1
steamship==2.17.34
steamspypi==1.1.1
svglib==1.5.1
symengine==0.11.0
takeoff_client==0.5.0
telethon==1.37.0
tensorboardX==2.6.2.2
tensorflow_text==2.17.0
tensorrt==10.4.0
testbench==0.1.2
textractor==0.1.2
tf2onnx==1.15.1
tf_keras==2.17.0
theano==1.0.5
thirdai==0.9.15
threadpoolctl==3.5.0
tigrisdb==1.0.0b6
tiktoken==0.7.0
timescale_vector==0.0.7
torch==2.0.1
torch_npu==2.3.1
torch_xla==2.4.0
traitlets==5.14.3
tree_sitter==0.23.0
tree_sitter_languages==1.10.2
trove_classifiers==2024.9.12
trubrics==1.6.2
tweepy==4.14.0
ujson==5.10.0
upstash_ratelimit==1.1.0
upstash_vector==0.6.0
uri_template==1.3.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
uv==0.4.17
vearch_cluster==0.0.2
vegafusion==1.6.9
verboselogs==1.7
watchgod==0.8.2
webcolors==24.8.0
whylogs==1.4.8
wikibase_rest_api_client==0.2.1
wolframalpha==5.1.3
wsaccel==0.6.6
wsproto==1.2.0
xarray==2024.9.0
xinference_client==0.15.2
xlrd==2.0.1
xmlrpclib==1.0.1
xmltodict==0.13.0
yfinance==0.2.43
youtube_search==2.1.2
youtube_transcript_api==0.6.2
yt_dlp==2024.9.27
zep_python==2.0.2
zstandard==0.23.0
