<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
</head>
<body style="background: linear-gradient(135deg, rgba(240, 236, 233, 0.956) 0%, #3866ee 100%);
">
    <div style="display: flex;">
        <div class="container" style="display: flex; column-gap: 70px;">
            <div class="image-container">
                
                <img src="{{ url_for('static', filename='images/men2.png') }}" alt="Registration Illustration" style="width: 400px; height: 500px;">
            </div>
            <div class="form-container">
                <h2>Registration</h2>
                <form id="registrationForm">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="John Doe" required>

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" required>

                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>

                    <div class="remember-me">
                        <input type="checkbox" id="remember" name="remember">
                        <label for="remember">Remember me</label>
                    </div>

                    <button type="submit" id="registerButton" disabled style="background-color: #1e47c3">Register</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        const password = document.getElementById('password');
        const confirmPassword = document.getElementById('confirmPassword');
        const registerButton = document.getElementById('registerButton');

        function validatePassword() {
            if (password.value === confirmPassword.value && password.value !== '') {
                registerButton.disabled = false;
            } else {
                registerButton.disabled = true;
            }
        }
        password.addEventListener('input', validatePassword);
        confirmPassword.addEventListener('input', validatePassword);
    </script>
</body>
</html>
